{% extends 'base.html' %}

{% block title %}Balance{% endblock title %}


{% block role_nav %}
    {% if user.is_authenticated %}
        <div class="w-100 border-bottom bg-light">
            <ul class="nav nav-tabs m-auto border-bottom-0">
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'historial-facturas' %}">Hitorial de Facturas</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock role_nav %}

{% block content %}
  <div class="container" style="width: 50rem;">
          <div class="row justify-content-center" style="width: 40rem;">
            <table class="table table-secondary table-striped" style="width: 8rem;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Desde</th>
                    <th scope="col">Hasta</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Parqueadero</th>
                      <th scope="col">Ingresos</th>
                      <th scope="col">Salidas</th>
                      <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                      <tr>
                        <td>{{fecha_entrada}}</td>
                        <td> {{fecha_salida}}</td>
                        <td>{{fecha_total}} Días</td>
                        <td>{{parq}}</td>
                          <td><table class="table table-secondary table-striped" style="width: 8rem;">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Tipo Vehiculo</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in entradas_f.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>{{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table></td>
                          <td><table class="table table-secondary table-striped"style="width: 8rem;">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Tipo Vehiculo</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in salidas.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>{{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table></td>
                          <td><table class="table table-secondary table-striped"style="width: 8rem;">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Tipo Vehiculo</th>
                      <th scope="col">Ganancia</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in balance.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>$ {{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table></td>
                      </tr>

                </tbody>
              </table>
        </div>
    </div>


  </div>
{% endblock content %}