{% extends 'base.html' %}

{% block title %}Balance{% endblock title %}


{% block role_nav %}
    {% if user.is_authenticated %}
        <div class="w-100 border-bottom bg-light">
            <ul class="nav nav-tabs m-auto border-bottom-0">
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'historial-facturas' %}">Hitorial de Facturas</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock role_nav %}

{% block content %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Balance</div>
      <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Pnombre">Desde:</label>
                <input name="fecha" class="form-control" type="text" readonly value="{{fecha_entrada}}">
              </div>
                <div class="form-group">
                <label for="Pnombre">Hasta: </label>
                <input name="fecha" class="form-control" type="text" readonly value="{{fecha_salida}}">
              </div>
               <div class="form-group">
                <label for="Pnombre">Duración: </label>
                <input name="fecha" class="form-control" type="text" readonly value="{{fecha_total}} Días">
              </div>
              <div class="form-group">
                <label for="Pnombre">Parqueadero: </label>
                <input name="fecha" class="form-control" type="text" readonly value="{{parq}} Días">
              </div>
            </div>
            <div class="col-md-6">
              <table class="table table-secondary table-striped">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Ingresados</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in entradas_f.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>{{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
              <table class="table table-secondary table-striped">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Salidas</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in salidas.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>{{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
              <table class="table table-secondary table-striped">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">Balance</th>
                      <th scope="col">Ganancia</th>
                    </tr>
                </thead>
                <tbody>
                  {% for clave,valor in balance.items %}
                      <tr>
                          <td>{{ clave }}</td>
                          <td>$ {{ valor }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

</div>
</div>

    </div>
  </div>
{% endblock content %}