{% extends 'base.html' %}

{% block title %}Vehiculos{% endblock title %}

{% block role_nav %}
    {% if user.is_authenticated %}
        <div class="w-100 border-bottom bg-light">
            <ul class="nav nav-tabs m-auto border-bottom-0">
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'historial-facturas' %}">Hitorial de Facturas</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock role_nav %}

{% block content %}
<div class="container pt-5 mt-3">
    <table class="table table-secondary table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Serial</th>
                <th scope="col">Nombre Parqueadero</th>
                <th scope="col">Nombre Operario</th>
                <th scope="col">Fecha Salida</th>
                <th scope="col">Identificación Cliente</th>
                <th scope="col">Placa</th>
                <th scope="col">Tipo de Vehiculo</th>
                <th scope="col">Total antes de descuento</th>
                <th scope="col">Descuento</th>
                <th scope="col">Total Facturado</th>



            </tr>
        </thead>
        <tbody>
            {% for factura in facturas_list %}
                    <td>{{ factura.serial }}</td>
                    <td>{{ factura.name }}</td>
                    <td>{{ factura.nameOP }}</td>
                    <td>{{ factura.out_date }}</td>
                    <td>{{ factura.id_user }}</td>
                    <td>{{ factura.placa }}</td>
                    <th>{{ factura.tipo_vehiculo }}</th>
                    <th>{{ factura.total_general }}</th>  
                    <th>{{ factura.descuento }}</th> 
                    <th>{{ factura.total }}</th> 

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}