{% extends 'base.html' %}

{% block title %}Parqueaderos{% endblock title %}

{% block role_nav %}
    {% if user.is_authenticated and user.is_staff %}
        <div class="w-100 border-bottom bg-light">
            <ul class="nav nav-tabs m-auto border-bottom-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planes-pago' %}">Parqueaderos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear-plan-pago' %}">Crear parqueadero</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock role_nav %}

{% block content %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Eliminar parqueadero</div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <p>¿Esta seguro de que desea eliminar el parqueadero "{{ object }}"?</p>
          <button type="submit" class="btn btn-warning btn-block">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}