{% extends 'base.html' %}

{% block title %}Usuarios{% endblock title %}

{% block role_nav %}
    {% if user.is_authenticated and user.is_staff %}
        <div class="w-100 border-bottom bg-light">
            <ul class="nav nav-tabs m-auto border-bottom-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Registrar Operario</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock role_nav %}

{% block content %}
<div class="container pt-5 mt-3">
    <table class="table table-secondary table-striped">
        <thead class="thead-dark">
            <tr align="center">
                <th scope="col">Identificador</th>
                <th scope="col">Tipo identificación</th>
                <th scope="col">Fecha nacimiento</th>
                <th scope="col">Teléfono celular</th>
                <th scope="col">Teléfono fijo</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Dirección</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios_list %}
                {% if not usuario.user.is_staff %}
                <tr align="center">
                    <th scope="row">{{ usuario.user }}</th>
                    <td>{{ usuario.tipo_identificacion }}</td>
                    <td>{{ usuario.fecha_nacimiento }}</td>
                    <td>{{ usuario.celular }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.nacionalidad }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td >
                        <a href="{% url 'modificar-usuario' usuario.user.id %}"><input type="image" width="30" height="30"  name="botonmodificar" src="https://image.flaticon.com/icons/png/512/61/61776.png"></a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar-usuario' usuario.user.id %}"><input type="image" width="30" height="30"  name="botoneliminar" src="https://image.flaticon.com/icons/png/512/61/61848.png"></a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}